<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/estilologin2.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>

    <div class="wrapper">

        <form action="/login/" method="POST">
            {% csrf_token %}
            <h1>Login</h1>

            {{error}}
            
            <div class="input-box">
                <input id="id_username" name="username" type="text" placeholder="Username" required>
                
            </div>


            <div class="input-box">
                <input id='id_password' name="password" type="password" placeholder="Password" required>
                
            </div>


            <div class="remember-forgot">
                <label> <input type="checkbox">Recuérdame</label>
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>


            <button type="submit" class="btn">Login</button>


            <div class="register-link">
                <p>¿Aún no tienes una cuenta?
                <a href="/registro">Registrarme</a></p>
            </div>

        </form>

    </div>

 
    <div id="shutdownModal" class="modal">
        <div class="modal-content">
            <p>¿Quieres que tu dispositivo se apague automáticamente si es recomendable?</p>
            <button onclick="handleShutdown('yes')">Sí</button>
            <button onclick="handleShutdown('no')">No</button>
        </div>
    </div>

  
    <div id="recommendationModal" class="modal">
        <div class="modal-content">
            <p>Te recomendamos apagar la ampolleta.</p>
            <button onclick="closeModal()">Cerrar</button>
        </div>
    </div>

    <script>
        function confirmShutdown() {
            var shutdownModal = document.getElementById('shutdownModal');
            shutdownModal.style.display = 'flex';
            return false; 
        }

        function handleShutdown(response) {
            var shutdownModal = document.getElementById('shutdownModal');
            shutdownModal.style.display = 'none';

            if (response === 'no') {
                var recommendationModal = document.getElementById('recommendationModal');
                recommendationModal.style.display = 'flex';
            } else {
                document.forms[0].submit(); 
            }
        }

        function closeModal() {
            var recommendationModal = document.getElementById('recommendationModal');
            recommendationModal.style.display = 'none';
        }
    </script>

</body>
</html>

