<!DOCTYPE html>
{% load static %}
<head>
    <title>The Lec Team</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/CSS/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Forum&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Forum&family=Kanit:wght@100&family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Forum&family=Kanit:wght@100&family=Oswald:wght@400;700&family=Pacifico&display=swap" rel="stylesheet"

</head>
<body>
    <header class="header" id="inicio"> <!--  este es el menu lateral de opciones -->
        <img src="{% static 'img/bx-menu.svg' %}" alt="" class="menu">
        <nav class="menu-navegacion ">
            <a href="#inicio">Inicio</a>
            <a href="#Servicio">¿Quiénes somos?</a>
            <a href="#QuienesSomos">¿Cómo funciona?</a>
            <a href="#Testimonios">Testimonios</a>
            <a href="#Expertos">Nuestro equipo</a>
            <a href="#Contacto">Contacto</a>
            <a href="/consumo">Consumo</a>
            <a href="/login">Acceso cliente</a>
            
    

        </nav>    
        <div class="contenedor head">   <!-- este es el titulo de la presentacion -->
            <h1 class="titulo">The Lec Team</h1>
            <h4 class="subtitle">expertos en ahorro energético</h4>
            <p></p>
        </div>
    </header>
    <main>
        <section class="contenedor" id="Servicio">
            <h2 class="subtitulo">¿Quiénes somos?</h2> <!-- quienes somos y descripcion ademas de como iniciar sesion -->
            <div class="contenedor-servicio">
                <img src= "{% static 'img/bombilla.png' %}" alt="">
                <div class="checlist-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class="number">1</span>Nuestra misión</h3>
                        <p>Hemos creado una herramienta que te permita optimizar tu consumo de <br/>
                            electricidad mensual, haciendo posible el ahorro y contribuyendo al <br/>
                            cuidado del medio ambiente. </p>
                        
                        <br/>

                        <h3 class="n-service"><span class="number">2</span>¿Cómo hacerlo?</h3>
                        <p>
                            
                            1. Iniciar sesión con tu cuenta (o crearte una si no tienes)<br/>
                            2. Conectar tu ampolleta inteligente con nuestro programa<br/>
                            3. Recibir tu informe<br/>

                        </p>

                    </div>
                </div>
            </div>
        </section>  
        <section class="gallery QuienesSomos" id="QuienesSomos">   <!-- Caracteristicas del programa -->
            <div class="contenedor">
                <h2 class="subtitulo">¿Cómo funciona?</h2>
                <div class="contenedor-galeria">
                    
                    <p> &bull; Obtén recomendaciones personalizadas exclusivamente en tu usuario <br>
                    para reducir tu consumo energético, basadas en el pronóstico climático de <br>
                    tu ubicación. </p>

                    <img src="{% static 'img/chile.png' %}" alt="" class="img-recomendaciones">
                    <img src="{% static 'img/clima.png' %}" alt="" class="img-recomendaciones2">

                </div>

            </div>
        </section>

        <head>
            <section class="contenedor" id="Testimonios">  <!-- "textos de testimonio"  -->
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="styles.css">
            <h2 class="subtitulo">Testimonios de nuestros usuarios</h2> 
        </head>
        <body>
            <section class="testimonios">
                <div class="testimonial">
                    <img src="{% static 'img/usuario.png' %}" alt="Usuario 1">
                    <p>"¡Excelente servicio! Me ayudaron a ahorrar dinero en mi factura de energía de manera significativa. ¡Altamente recomendado!"</p>
                    <cite>- Juan Pérez</cite>
                </div>
                <div class="testimonial">
                    <img src="{% static 'img/usuario.png' %}" alt="Usuario 2">
                    <p>"The Lec Team hizo un trabajo increíble. Su equipo es profesional y conocedor. Estoy muy satisfecho con los resultados."</p>
                    <cite>- María González</cite>
                </div>
                <div class="testimonial">
                    <img src="{% static 'img/usuario.png' %}" alt="Usuario 3">
                    <p>"Gracias a The Lec Team, mi hogar es más eficiente energéticamente. Estoy contento con el servicio y el ahorro que he obtenido."</p>
                    <cite>- Roberto López</cite>
                </div>

            </section>

<!--         <section class="imagen-light">
            <img src="{% static 'img/bx-x.svg' %}" alt="" class="close">
            <img class="agregar-imagen" src= "" alt="" >
        </section> -->
        <section class="contenedor expertos" id="Expertos">
            <h2 class="subtitulo">Nuestro equipo:</h2>
            <div class="experts">
                <div class="cont-experts">
                    <a href="https://github.com/haayaska" target="_blank"> 
                        <img src="https://avatars.githubusercontent.com/u/127577576?v=4">
                    </a>
                    <h3 class="n-expert">Moisés Villarroel</h3>
                </div>                <div class="cont-experts">
                    <a href="https://github.com/flawless0011" target="_blank"> 
                        <img src="https://avatars.githubusercontent.com/u/142758508?v=4">
                    </a>
                    <h3 class="n-expert">Francisco Pino</h3>
                </div>                <div class="cont-experts">
                    <a href="https://github.com/ShadowyUwU" target="_blank"> 
                        <img src="https://avatars.githubusercontent.com/u/144750468?v=4">
                    </a>
                    <h3 class="n-expert">Bastián Campos</h3>
                </div>
                <div class="cont-experts">
                    <a href="https://github.com/JoxyM0xy" target="_blank"> 
                        <img src="https://avatars.githubusercontent.com/u/143657122?s=400&u=e56c6e1bb11c94dc41ec8e21536e0ad723872030&v=4">
                    </a>
                    <h3 class="n-expert">John Alvarado Toro</h3>
                </div>
        
                </div>
            </div>
        </section>
    </main>
    <footer id="Contacto">
        <div class="contenedor footer-content">
            <div class="contactanos">
                <h2 class="brand">The Lec Team</h2>
                <p>Expertos en ahorro energético y cuidado del medioambiente</p>
            </div>
            <div class="redes-sociales">
                <a href="#" class="red-social-icono" target="_blank">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="#" class="red-social-icono" target="_blank">
                    <i class='bx bxl-instagram'></i>
                    
                </a>
                <a href="https://twitter.com/?lang=es" class="red-social-icono" target="_blank">
                    <i class='bx bxl-twitter'></i>
                </a>
            </div>
        </div>
        <div class="line"></div>
    </footer>
    <script src="{% static 'Js/menu.js' %}"></script>
    <script src="{% static 'Js/lightbox.js' %}"></script>
   
</body>
</html>
