<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="estiloslogin.css">
</head>
<body>
    <div class="formulario"> 
        <h1>Registro</h1>
        <form action="/registro/" method="POST">
            <div class="username">
                <input type="text" required>
                <label for="">Nombre de Usuario</label>
            </div>

            <div class="contraseña">
                <input type="password" id="contraseña" required>
                <label for="contraseña">Contraseña</label>
            </div>
            <div id="form-container">
                <form>
                    <label for="opcion">Elige tu Región:</label>
                    <select id="opcion" name="opcion">
                        <option value="Arica y Parinacota">Arica y Parinacota</option>
                        <option value="Tarapacá">Tarapacá</option>
                        <option value="Antofagasta">Antofagasta</option>
                        <option value="Atacama">Atacama</option>
                        <option value="Coquimbo">Coquimbo</option>
                        <option value="Valparaíso">Valparaíso</option>
                        <option value="Metropolitana">Metropolitana</option>
                        <option value="O'Higgins">O'Higgins</option>
                        <option value="Maule">Maule</option>
                        <option value="Ñuble">Ñuble</option>
                        <option value="Biobío">Biobío</option>
                        <option value="La Araucanía">La Araucanía</option>
                        <option value="Los Ríos">Los Ríos</option>
                        <option value="Los Lagos">Los Lagos</option>
                        <option value="Aysén del General Carlos Ibáñez del Campo">Aysén del General Carlos Ibáñez del Campo</option>
                        <option value="Magallanes y de la Antártica Chilena">Magallanes y de la Antártica Chilena</option>
                    </select>
            
                    <button type="button" onclick="enviarFormulario()">Enviar</button>
                </form>
            </div>

            
            <div class="contraseña">
                <input type="password" id="confirmarContraseña" required>
                <label for="confirmarContraseña">Confirmar contraseña</label>
            </div>

        
            <div class="region">
                <input type="text" id="region" required>
                <label for="region">Región</label>
            </div>

            <div class="comuna">
                <input type="text" id="comuna" required>
                <label for="comuna">Comuna</label>
            </div>

            <div class="smart-id">
                <input type="text" id="smartId" required>
                <label for="smartId">Smart ID</label>
            </div>

            <div class="smart-token">
                <input type="text" id="smartToken" required>
                <label for="smartToken">Smart Token</label>
            </div>
            

            <button onclick="return validarContraseña();">Enviar</button>
        </form>

        <div class="registro">
            <a href="registro.html">Registro</a>
        </div>
    </div>
</body>
</html>
