
body, h1, p {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f0f0f0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #333; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}


h1 {
    color: #4caf50; 
    margin-bottom: 10px; 
}


p {
    color: #555; 
    margin-bottom: 20px; 
}


p {
    font-weight: bold; 
}


p:contains("Encendido") {
    color: #4caf50; 
}


p:contains("Apagado") {
    color: #d32f2f; 
}
