{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'CSS/estiloregistro.css' %}">
    <!-- Incluir jQuery desde CDN -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="formulario"> 
        <h1>Registro</h1>

        {{error}}
        
        <form action="/registro/" method="POST">
            {% csrf_token %}
            
            <div class="username">
                <input name='username' type="text" required>
                <label class="input-label" for="username">Nombre de Usuario</label>
            </div>

            <div class="email">
                <input name='email' type="text" required>
                <label class="input-label" for="email">Correo electrónico</label>
            </div>

            <div class="contraseña">
                <input name='password' type="password" id="contraseña" required>
                <label class="input-label" for="contraseña">Contraseña</label>
            </div>
            
            <div class="contraseña">
                <input name='password_confirm' type="password" id="confirmarContraseña" required>
                <label class="input-label" for="confirmarContraseña">Confirmar contraseña</label>
            </div>
        
            <div id="form-container">
                <!-- Resto del formulario -->
            </div>

            <div class="smart-id">
                <input name='smartid' type="text" id="smartId" required>
                <label class="input-label" for="smartId">Smart ID</label>
            </div>

            <div class="smart-token">
                <input name='smarttoken' type="text" id="smartToken" required>
                <label class="input-label" for="smartToken">Smart Token</label>
            </div>
            
            <button onclick="return validarContraseña();">Enviar</button>
        </form>

        <script>
            // Agregar clases y eventos para gestionar las etiquetas de entrada
            $(document).ready(function() {
                $('.formulario input').on('focus', function() {
                    $(this).siblings('label.input-label').addClass('active');
                });

                $('.formulario input').on('blur', function() {
                    if ($(this).val() === '') {
                        $(this).siblings('label.input-label').removeClass('active');
                    }
                });
            });
        </script>
    </div>
</body>
</html>
